.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--primary-color-text);
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
}
