.footer {
  padding: 2rem 0;

  p {
    font-size: 0.875rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}